<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="app-title">
        🎯 <span>AI Multimedia Analyzer</span>
    </div>

    <div style="position: relative;">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul style="
          color: white;
          background-color: #ff4d4d;
          list-style: none;
          padding: 10px;
          margin: 0 auto 20px;
          border-radius: 5px;
          font-weight: bold;
          position: absolute;
          top: -40px;
          left: 50%;
          transform: translateX(-50%);
          text-align: center;
          width: fit-content;
          max-width: 90%;
          z-index: 999;
        ">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

        <div class="login-container" style="margin-top: 60px;">
            <form class="login-left" method="POST" action="{{ url_for('auth_bp.login') }}">
                <h2>Log in</h2>
                <input type="text" name="username" placeholder="User name" required>
                <input type="password" name="password" placeholder="Password" id="password" required>
                <div style="text-align: left; font-size: 12px; margin-bottom: 15px;">
                    <input type="checkbox" onclick="togglePassword()"> Show Password
                </div>
                <div class="forgot"><a href="#">Forgot your password?</a></div>
                <button type="submit">Log in</button>
                <div class="signup-text">
                    Don’t have any account? <a href="{{ url_for('auth_bp.signup') }}">Sign Up</a>
                </div>
            </form>

            <div class="login-right">
                <h1>WELCOME !</h1>
                <p>Log in to continue</p>
                <div class="bubble bubble1"></div>
                <div class="bubble bubble2"></div>
                <div class="bubble bubble3"></div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>

</html>